{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{template "title" .}}</title>
        <link href="/static/favicon.ico" rel="shortcut icon" type="image/ico" />
        <link href="/static/css/pure-min.css" rel="stylesheet" />
        <link href="/static/css/jquery.fancybox-3.5.7.min.css" rel="stylesheet" />
        <link href="/static/css/jquery.dataTables-1.10.18.min.css" rel="stylesheet">
        <link href="/static/css/select2-4.0.7.min.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="mainmenu">
            <p><a href="/">Home</a></p>
            <p><a href="/pages/task-list">Task List</a></p>
            <hr>
            <p><a href="/media/">Media</a></p>
            <p><a href="/sitemap">Sitemap</a></p>
            <p><a href="/timers">Timers</a></p>
            <p><a href="/tools">Tools</a></p>
            <hr>
            {{template "mainmenu" .}}
            <p><a href="/pages/markdown">Markdown</a></p>
            {{template "toctoggle" .}}
        </div>
        <div id="sidebar">
            <form action="/search" method="GET">
                <input
                    id="search_string"
                    type="text"
                    name="search"
                    {{template "searchterm" .}}
                    placeholder="Search"
                    autofocus>
            </form>
            <h3 title="Most recently visited pages">History</h3>
            {{range .History}}
                <p><a href="/pages/{{.}}">{{.}}</a></p>
            {{end}}
        </div>
        <div id="content">
            {{template "content" .}}
        </div>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/jquery.fancybox-3.5.7.min.js"></script>
        <script src="/static/js/jquery.dataTables-1.10.18.min.js"></script>
        <script src="/static/js/select2-4.0.7.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $.fancybox.defaults.loop = true;
                $("a:has(img)").not("#logo").attr({"data-fancybox": "gallery", "data-caption": function(i, val) {return $(this).children("img:first").attr("title")}});
                $('table').not('.non-datatable').DataTable({"aaSorting": []});
                $('select').select2();
            });
        </script>
    </body>
</html>
{{end}}
