{{define "title"}}Tools: Cardgen{{end}}

{{define "mainmenu-extra"}}
<p>Compare</p>
<p><a href="/tools/deduplicate">Deduplicate</a></p>
<p>Match</p>
{{end}}

{{define "searchterm"}}{{end}}

{{define "content"}}
<h1>Cardgen</h1>
<form action="/tools/cardgen/" method="post" class="pure-form pure-form-stacked">
    <label for="data">Data:</label>
    <textarea name="data" rows="5" cols="60">{{printf "%s" .CardgenData.Data}}</textarea>
    <label for="delim">Delimiter used in data:</label>
    <input type="text" name="delim" value={{.CardgenData.Delim}}>
    <label for="template">Template:</label>
    <textarea name="template" rows="5" cols="60">{{printf "%s" .CardgenData.Template}}</textarea>
    <button type="submit" class="pure-button pure-button-primary">Generate Cards</button>
    <label for="output">Output:</label>
    <textarea name="output" rows="5" cols="60">{{printf "%s" .CardgenData.Output}}</textarea>
</form>
{{end}}
