{{define "title"}}Tools: Match{{end}}

{{define "mainmenu-extra"}}
<p><a href="/tools/cardgen">Cardgen</a></p>
<p><a href="/tools/compare">Compare</p>
<p><a href="/tools/deduplicate">Deduplicate</a></p>
<p>Match</p>
{{end}}

{{define "searchterm"}}{{end}}

{{define "content"}}
<h1>Match Records</h1>
<p>Keep or exclude matching records.</p>
<form action="/tools/match/" method="post" class="pure-form pure-form-stacked">
    <label for="input">Input One:</label>
    <textarea name="input" rows="5" cols="60">{{printf "%s" .MatchData.Input}}</textarea>
    <label for="keys">Keys:</label>
    <textarea name="keys" rows="5" cols="60">{{printf "%s" .MatchData.Keys}}</textarea>
    <label for="exclude">Exclude matches:
        <input type="checkbox" name="exclude" value="checked" {{if .MatchData.Exclude}}checked{{end}}>
    </label>
    <button type="submit" class="pure-button pure-button-primary">Match</button>
    <label for="output">Output:</label>
    <textarea name="output" rows="5" cols="60">{{printf "%s" .MatchData.Output}}</textarea>
</form>
{{end}}

{{define "scripts-extra"}}{{end}}
