{{define "title"}}Uploads{{end}}

{{define "mainmenu-extra"}}{{end}}

{{define "searchterm"}}{{end}}

{{define "content"}}
<form action="/uploads/" method="post" class="pure-form" enctype="multipart/form-data">
    <label for="content">Upload file:</label>
    <input type="file" name="newFile" />
    <label for="dir">Directory:</label>
    <select name="dir">
        <option value="img">img</option>
        <option value="code">code</option>
        <option value="doc">doc</option>
        <option value="thumb">thumb</option>
    </select>
    <button type="submit" class="pure-button pure-button-primary">Upload</button>
</form>
<h2>Uploaded Files</h2>
<table>
    <thead>
        <tr>
            <th>File</th>
            <th>Dir</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {{range .UploadedFiles}}
            <tr>
                <td>
                    {{if or (eq .Dir "img") (eq .Dir "thumb")}}
                        <a href="/media/{{.Dir}}/{{.File.Name}}"><img src="/media/{{.Dir}}/{{.File.Name}}" alt="{{.File.Name}}" title="{{.File.Name}}" style="max-width:50%"/></a>
                    {{end}}
                    <a href="/media/{{.Dir}}/{{.File.Name}}">{{.File.Name}}</a>
                </td>
                <td>{{.Dir}}</td>
                <td>{{.File.ModTime}}</td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}

{{define "scripts-extra"}}{{end}}
